<script type="text/x-template" id="logTableTmpl">
    <div class="dimmable">
        <div class="ui inverted dimmer" v-bind:class="{ 'active': pr_is_loading }">
            <div class="ui loader"></div>
        </div>

        <div class="ui grid">
            <div class="five column row">
                <div class="right floated column">
                    <div class="ui labeled input page-size">
                        <div class="ui label">
                            Page size
                        </div>
                        <input placeholder="Page size" type="number" v-model.number="page_size">
                    </div>
                </div>
            </div>
        </div>

        <table class="ui selectable striped table logTable segment">
            <thead>
                <tr>
                    <th style="width: 30px">Id</th>
                    <th>Message</th>
                    <th style="width: 90px">Level</th>
                    <th style="width: 230px">Timestamp</th>
                </tr>
            </thead>
            <tbody>
                <log-entry v-for="item in pr_logdata" :pr_entry="item" :key="item.id"></log-entry>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4">
                        <div class="ui right floated pagination menu">
                            <a class="icon item" v-show="current_page > 1" v-on:click="firstPage">
                                <i class="angle double left icon"></i>
                            </a>
                            <a class="icon item" v-bind:class="{ disabled: current_page <= 1}" v-on:click="previousPage">
                                <i class="angle left icon"></i>
                            </a>
                            <a class="item">{{ current_page }}</a>
                            <a class="icon item" v-bind:class="{ disabled: pr_logdata.length < page_size}" v-on:click="nextPage">
                                <i class="angle right icon"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</script>

<script type="text/x-template" id="logEntryTmpl">
    <tr v-on:click="showDetails">
        <td scope="row" style="width: 30px">{{ pr_entry.id }}</td>
        <td>{{ pr_entry.message }}</td>
        <td style="width: 90px">
            <span class="ui horizontal label" v-bind:class="pr_entry.level | levelClass">{{ pr_entry.level }}</span>
        </td>
        <td style="width: 170px">{{ pr_entry.timestamp | timestampFormatted }}</td>
    </tr>
</script>

<script type="text/x-template" id="logEntryModalTmpl">
    <div class="ui modal small entryModal">
        <i class="close icon"></i>
        <div v-if="logEntry" class="header">
            Log Entry #{{ logEntry.id }}
        </div>
        <div v-if="logEntry" class="content">
            <h4>General</h4>
            <table class="ui very basic collapsing celled table">
                <tbody>
                    <tr>
                        <td>Message</td>
                        <td><p>{{ logEntry.message }}</p></td>
                    </tr>
                    <tr>
                        <td>Level</td>
                        <td>
                            <p><span class="ui horizontal label" v-bind:class="logEntry.level | levelClass">{{ logEntry.level }}</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>Timestamp</td>
                        <td>{{ logEntry.timestamp | timestampFormatted }}</td>
                    </tr>
                </tbody>
            </table>
            <h4 v-if="properties.length > 0">Properties</h4>
            <div class="ui list">
                <log-entry-property-item v-for="(prop, index) in properties" :key="index" :pr_prop="prop"></log-entry-property-item>
            </div>

            <h4 v-if="logEntry.exception">Exception</h4>
            <div class="ui list">
                <p style="color:red">{{ logEntry.exception }}</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui right button" v-on:click="hideModal">Close</div>
        </div>
    </div>
</script>

<script type="text/x-template" id="logEntryPropertyItemTmpl">
    <div class="item">
        <i v-if="!pr_prop.type" class="file icon"></i>
        <i v-else class="folder icon"></i>
        <div v-if="!pr_prop.type" class="content">
            <div class="header">{{ pr_prop.key }}</div>
            <div class="description">{{ pr_prop.value }}</div>
        </div>

        <div v-else class="content">
            <div class="header">{{ pr_prop.key }}</div>
            <div class="description"><i>[{{ pr_prop.type }}]</i></div>
            <div class="list">
                <log-entry-property-item v-for="(prop, index) in pr_prop.properties" :key="index" :pr_prop="prop"></log-entry-property-item>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="logFilterTmpl">
    <div class="ui grid">
        <div class="row">
            <div class="ui form">
                <div class="field" v-bind:class="{ error: !is_valid && filter.length > 0 }">
                    <label>Query</label>
                    <textarea v-model="filter" rows="2"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="twelve wide column">
                <div class="ui form">
                    <div class="fields">
                        <div class="field">
                            <div class="ui submit button" v-on:click="evClickApply" v-bind:class="{ disabled: !is_valid }">Apply</div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">
                                    Time
                                </div>
                                
                            <input type="text" name="timepicker"
                                   id="timepicker"
                                   value="03/18/2013 - 03/23/2013" />
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui floating dropdown labeled input">
                                <div class="ui label">
                                    Level
                                </div>
                                <!-- Use complex values with colored lables https://semantic-ui.com/modules/dropdown.html#multiple-search-selection siehe auch "Search In-Menu"-Punkt -->
                                <select name="loglevels" multiple="" class="ui fluid dropdown">
                                    <option value="verbose">Verbose</option>
                                    <option value="debug">Debug</option>
                                    <option value="information">Information</option>
                                    <option value="Warning">Warning</option>
                                    <option value="Fatal">Fatal</option>
                                    <option value="Error">Error</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right aligned four wide column">
                <div>
                    <div class="ui labeled input">
                        <div class="ui label">
                            Page size
                        </div>
                        <input class="page-size" type="number" v-model.number="page_size">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>