<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebLogViewer</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/semantic/semantic.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <script src="~/lib/jquery.js"></script>
        <script src="~/lib/semantic/semantic.js"></script>
        <script src="~/lib/jsrender.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/semantic/semantic.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />

        <script src="~/lib/jquery.min.js"></script>
        <script src="~/lib/semantic/semantic.min.js"></script>
        <script src="~/lib/jsrender.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="body-main">
        <div class="ui inverted menu">
            <div class="ui container">
                <a href="#" class="header item">
                    Log Viewer
                </a>
            </div>
        </div>

        <div class="body-content ui main text">
            @RenderBody()
        </div>
    </div>

    <div class="body-footer">
        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" href="https://github.com/SebastianLng/SerilogMSSqlLogViewer">GitHub Project</a>
                    <a class="item" href="https://github.com/SebastianLng/">by Sebastian Lang</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
