@model IList<string>
@{
    ViewData["Title"] = "Log";
}

<div id="app">
    <div v-cloak v-if="isErrorVisible" class="ui error message" role="alert"><div class="header">Error</div><p>{{ errorMessage }}</p></div>
    <log-table :pr_logdata="logdata"></log-table>
</div>


<script type="text/javascript">
    var predefinedFilterProperties = JSON.parse('@Html.Raw(Json.Serialize(Model))');
</script>

@Html.Partial("_Templates.cshtml")

<script src="~/js/Components/LogTable.js"></script>
<script src="~/js/Components/LogEntry.js"></script>

<script src="~/js/VueApp.js"></script>